.dashboard__admin {
    .page-header {
        margin-bottom: 20px;
        text-transform: capitalize;
        font-size: 18px;
    }

    .card-admin-chart {
        padding: 15px;
        background-color: var(--main-bg);
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        height: 100%;
    }

    .card__header {
        display: flex;
        h3 {
            margin-top: 0;
            font-size: 14px;
        }
    }
}
