.signup {
    position: relative;
    margin-top: 50px;

    .nav-item {
        width: calc(var(--nav-size) * 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
    
        /* Icon Button */
        .icon-button {
            --button-size: calc(var(--nav-size) * 0.5);
            width: var(--button-size);
            height: var(--button-size);
            background-color: #484a4d;
            border-radius: 50%;
            padding: 5px;
            margin: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: filter 300ms;
        }
    
        .icon-button:hover {
            filter: brightness(1.2);
        }
    
        .icon-button svg {
            fill: var(--text-color);
            width: 20px;
            height: 20px;
        }
    }

    .dropdown {
        height: auto !important;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        width: 600px;
        margin: auto;
        padding: 1rem;
        overflow: hidden;
        transition: height var(--speed) ease;

        .menu {
            width: 100%;
            
            .form-email {
                padding: 0 20px;

                h1 {
                    font-weight: bold;
                    margin-top: 25px;
                    margin-bottom: 30px;
                    text-align: center;
                    font-size: 2.2rem;
                    padding-left: -10px;
                }

                input {
                    border: solid;
                    border-color: #eee;
                    padding: 10px 15px;
                    width: 100%;
                    margin-bottom: 12px;
                    margin-top: 5px;
                    font-size: 1.4rem;
                }

                .label-email {
                    margin-left: 5px;
                }

                .icon-eye {
                    cursor: pointer;
                    position: absolute;
                    font-size: 20px;
                    right: 50px;
                    margin-top: 15px;
                }

                .message_error {
                    margin: 0;
                    color: red;
                    font-size: 1.2rem;
                    margin-top: -10px;
                    margin-bottom: 8px;
                    padding-left: 5px;
                }

                .customs-btn { 
                    background: #4f46e5;
                    padding: 10px 150px;
                    font-size: 1.6rem;
                    color: white;
                    margin-left: 18%;
                    bottom: 60px;
                    border: none;
                    cursor: pointer;
                    margin-bottom: 15px;
                }
    
                .customs-btn:hover {
                    background: #1e88e5;
                }
            }

            .forgot-password {
                display: flex;
                justify-content: space-between;
                margin-left: 50px;
                margin-right: 50px;
                margin-bottom: 15px;
    
                .link__forgot-password {
                    padding-top: 6px;
                    font-size: 1.3rem; 
                }
    
                .link__forgot-password:hover {
                    text-decoration: none;
                    color: var(--blue-link);
                }
    
                .link-create {
                    padding-top: 6px;
                    font-size: 1.3rem; 
                }
    
                .link-create:hover {
                    text-decoration: none;
                    color: var(--blue-link);
                }
            }
        }

        .menu-item {
            height: 50px;
            display: flex;
            align-items: center;
            border-radius: var(--border-radius);
            transition: background var(--speed);
            padding: 0.5rem;

            .icon-button {
                margin-right: 0.5rem;
            }

            .icon-button:hover {
                filter: none;
            }

            .icon-right {
                margin-left: auto;
            }
        }


        .policy {
            bottom: 15px;
            
            p {
                margin: 0;
                font-size: 1.2rem;
                text-align: center;
                margin-left: 50px;
                margin-right: 50px;
                margin-bottom: 10px;

                .link-policy {
                    color: #1877f2;
                }
            }
        }
    }

    /* CSSTransition classes  */
    .menu-primary-enter {
        position: absolute;
        transform: translateX(-110%);
    }
    .menu-primary-enter-active {
        transform: translateX(0%);
        transition: all var(--speed) ease;
    }
    .menu-primary-exit {
        position: absolute;
    }
    .menu-primary-exit-active {
        transform: translateX(-110%);
        transition: all var(--speed) ease;
    }

    .menu-secondary-enter {
        transform: translateX(110%);
    }
    .menu-secondary-enter-active {
        transform: translateX(0%);
        transition: all var(--speed) ease;
    }

    .menu-secondary-exit-active {
        transform: translateX(110%);
        transition: all var(--speed) ease;
    }
}

a {
    color: var(--text-color);
    text-decoration: none;
}




