.show-rang__price {
    display: flex;
    justify-content: center;
    margin-top: 5px;

    .input-pricerange {
        padding: 8px 10px 8px 20px;
        margin-right: 10px;
        border-radius: 5px;
        font-size: 16px;
    }
}
