.filter-bar {
    width: 100%;
    margin: auto;
    margin-top: 66px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    display: flex;
    position: fixed;
    background: white;
    z-index: 97;
    
    .slick-slider {
        width: 90%;
        margin-right: 25px;
    }

    .slider__item-filter {
        display: grid;
        justify-content: center;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;

        .icon-filter {
            display: grid;
            justify-content: center;
        }

        .title-filter {
            margin-top: 5px;
            margin-bottom: 10px;

            p {
                margin: 0;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

    .slider__item-filter:hover {
        border-bottom: 2px solid var(--text-color);
    }

    .active {
        border-bottom: 2px solid black;
    }

    .slick-dots {
        display: none !important;
    }
}