.list-image-in__setting {

    position: relative;
    margin: 10px 180px 0 180px;

    .col:nth-child(2) {
        padding-left: 3px;
    }

    .col:nth-child(4) {
        padding-left: 3px;
    }

    .col:nth-child(1) {
        padding-right: 3px;
    }

    .col:nth-child(3) {
        padding-right: 3px;
    }

    .image-item {
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    .image-item-thumbnail {
        margin: 0 auto;

        img {
            width: 100%;
            height: auto;
        }
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .list-image {
        margin: 0 50px;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .list-image {
        margin: 0 50px;
    }
}