.no-btn {
    border: none;
    margin-right: 5px;
    padding: 5px 15px;
}

.no-btn:hover {
    background: #e0e0e0;
}

.yes-btn {
    border: none;
    margin-right: 5px;
    padding: 5px 25px;
    background: #ff8a65;
}

.yes-btn:hover {
    background: #ff5722;
}