.step-four {
    margin-top: -45px;
    position: absolute;
    width: 100%;

    .l-6:nth-child(1) {
        position: relative;
        height: 100vh;
        background: linear-gradient(45deg, #bdbdbd, #f5f5f5);
        z-index: -1;
        display: grid;
        justify-items: center; /* Căn giữa chiều ngang */

        .require-step4 {
            position: absolute;
            margin-top: 16%;

            .image-step4 {
                width: 95%;
            }
    
            h1 {
                text-align: center;
                width: 100%;
            }
        }

       
    }

    .l-6:nth-child(2) {
        position: relative;
        height: 90vh;

        .upload-file {
            position: absolute;
            top: 10%;
            left: 25%;
        }
    }
}
