.calendarWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 91;
    position: absolute;
    margin-top: 55px;

    .info_date {
        display: flex;
        flex-wrap: wrap;

        .output {
            width: 27%;
            margin-left: 10px;

            input {
                padding: 8px;
                width: 100%;
            }
        }

        .output:nth-child(2) {
            margin-left: 28px;
        }
    }
}
