.image-of-room__setting {
    margin-top: 20px;

    .content-input-image {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        p {
            margin: 0;
        }
    }
}
