.step-two {
    margin-top: -45px;
    position: absolute;
    width: 100%;

    .l-6:nth-child(1) {
        position: relative;
        height: 100vh;
        background: red;
        z-index: -1;
         
        h1 {
            text-align: center; 
            position: absolute;
            top: 45%;
            width: 100%;
        }
    }

    .l-6:nth-child(2) {
        position: relative;
        height: 90vh;
        display: grid;
        justify-items: center; /* Căn giữa chiều ngang */
        align-content: center; /* Căn giữa chiều dọc */

        .info-count__room {
            width: 100%;
            
            li {
                font-size: 20px !important;
            }

            .count {
                display: flex;
                justify-content: space-between;
                margin-left: 100px;
                margin-right: 100px;
                margin-bottom: 10px;

                p {
                    font-weight: bold;
                    font-size: 1.5rem;
                }
            }
        }

        
    }
}