.otp-box {
    .container {
        display: flex;
        flex-flow: column;
        height: 100%;
        align-items: space-around;
        justify-content: center;
    }

    .userInput {
        display: flex;
        justify-content: center;
    }

    input {
        margin: 10px;
        height: 35px;
        width: 65px;
        border: none;
        border-radius: 5px;
        text-align: center;
        font-family: arimo;
        font-size: 1.2rem;
        background: #eef2f3;
    }

    h1 {
        text-align: center;
        font-family: arimo;
        color: black;
    }

    p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .customs-btn {
        cursor: pointer;
        background: #4f46e5;
        padding: 10px 150px;
        font-size: 1.6rem;
        color: white;
        margin-left: 18%;
        margin-top: 20px;
        border: none;
    }

    .customs-btn:hover {
        background: #1e88e5;
    }

    .re-send {
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
}
