.otp-box {
    .container {
        display: flex;
        flex-flow: column;
        height: 100%;
        align-items: space-around;
        justify-content: center;
    }

    .userInput {
        display: flex;
        justify-content: center;
    }

    input {
        margin: 10px;
        height: 35px;
        width: 65px;
        border: none;
        border-radius: 5px;
        text-align: center;
        font-family: arimo;
        font-size: 1.2rem;
        background: #eef2f3;
    }

    h1 {
        text-align: center;
        font-family: arimo;
        color: honeydew;
    }
}
