.slider__adversiment {
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 110px;
    margin-right: 110px;

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-left: -10px;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    }

    .slick-dots {
        padding-top: 5px;
    }

    .slider__item {
        width: 100%;
        height: 190px;
        margin: auto;
        border-radius: 18px;
        padding-right: 10px;
        padding-left: 10px;
        cursor: pointer;
        padding-top: 10px;
        transition: margin-top 1s ease-in-out;
    }

    .slider__item:hover {
        margin-top: -5px;
    }

    .card__top__book {
        background: #ffffff;
        height: 80px;
        width: 900px;
        margin: auto;
        margin-top: 3%;
    }
}
