.card {
    width: 900px;
    height: 400px;
    margin: auto;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: -50px;
    position: relative;

    .info__book {
        padding-top: 7%;

        p {
            padding-top: 15px;
            padding-left: 10px;
            font-size: 1.4rem;
            font-weight: bold;
        }

        .date__book {
            display: flex;
        }
    }

    .btn-search__book {
        position: absolute;
        padding: 10px;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: -20px;
        background: var(--btn-orange);
        border: none;
        cursor: pointer;
        color: var(--white-color);
    }

    .btn-search__book:hover {
        background: var(--btn-orange-hover);
    }
}
