.btn-active {
    border: none;
    padding: 10px 40px;
    margin: auto;
    width: auto;
    cursor: pointer;
    background: #4caf50;
    color: white;
}

.btn-active:hover {
    background: #43a047;
}