.step-three {
    margin-top: -45px;
    position: absolute;
    width: 100%;

    .l-6:nth-child(1) {
        position: relative;
        height: 100vh;
        background: linear-gradient(45deg, #f48fb1, #f5f5f5);;
        z-index: -1;
        display: grid;
        justify-items: center; /* Căn giữa chiều ngang */

        .require-step3 {
            position: absolute;
            margin-top: 10%;

            .image-step3 {
                width: 100%;
            }
    
            h1 {
                text-align: center;
                width: 100%;
                margin-top: -50px;
            }
        }

        
    }

    .l-6:nth-child(2) {
        position: relative;
        height: 90vh;
        display: grid;
        justify-items: center; /* Căn giữa chiều ngang */
        align-content: center; /* Căn giữa chiều dọc */

    }
}
