.web-content {
    position: relative;
}

.package-menu {
    padding: 24px 0;

    .package-menu__head {
        text-transform: uppercase;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;

        p {
            font-size: 1.6rem;
            color: black;
            font-weight: 500;
        }

        img {
            width: 27px;
        }

        .package-menu__heading {
            font-size: 2.2rem;
            position: relative;
            color: black;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            margin: auto;
            letter-spacing: 2px;
            text-transform: none;
        }
    }

    .package-img {
        padding-top: 100%;
        background-position: center;
        background-size: contain;
        opacity: 1;
        transition: all ease-out 0.6s;
    }

    .package-overlay {
        position: absolute;
        
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            to bottom,
            rgba(101, 100, 96, 0) 0%,
            rgba(101, 100, 96, 0.1) 60%,
            rgba(101, 100, 96, 0.65) 100%
        );
        opacity: 1;
        transition: all ease-out 0.6s;

        .package-thumbnail {
            // position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(80, 80, 80, 0.5);
            opacity: 0.8;
        }

        .package-info {
            position: absolute;
            bottom: 24px;
            left: 30px;
            color: white;

            .package-heading {
                text-transform: capitalize;
                font-size: 1.8rem;
                font-weight: 600;
                letter-spacing: 2px;
            }
            
            .package-desc {
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: 2px;
            }
        }
    }

    .mobile-package__link {
        display: none;
    }

    .package-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: blue;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        opacity: 0;
        transition: opacity ease-out 0.6s;

        .package-cover-head {
            margin: 0;
            text-transform: capitalize;
            font-size: 2rem;
            color: white;
            letter-spacing: 2px;
        }

        .package-list {
            margin: 0;
            padding-left: 0;
            list-style: none;
            width: 100%;

            .package-link {
                display: block;
                text-decoration: none;
                text-transform: capitalize;
                text-align: center;
                font-size: 1.8rem;
                padding: 12px 0;
                color: white;
                position: relative;
                left: 0;
                transition: all ease 0.2s;
            }
            
            .package-link:hover {
                left: 4px;
            }
        }

        .package-btn {
            --height: 30px;
            text-align: center;
            background-color: white;
            border-radius: 100px;

            .package-btn-link {
                display: block;
                padding: 8px 20px;
                font-size: 1.6rem;
                text-transform: capitalize;
                color: blue;
                font-weight: 500;
                text-decoration: none;
            }
        }
    }
    
    .package:hover {
        .package-cover {
            opacity: 1;
            transition: opacity ease-out 0.6s;
        }
    }
}

.package {
    position: relative;
    margin: 12px 0;
}











