.btn-review-detail {
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    margin-right: 16px;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
}

.btn-review-detail:hover {
    background-color: #1976d2;
}

.btn-review-cancel {
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    margin-right: 16px;
    cursor: pointer;
    color: black;
}
