.highlight {
    color: white !important;
    background: #ff5722;
}

.data-isbooking {
    .react-calendar {
        width: 100%;
        border-radius: 15px;

        .react-calendar__navigation__prev2-button {
            border-top-left-radius: 15px;
        }

        .react-calendar__navigation__next2-button {
            border-top-right-radius: 15px;
        }

        .react-calendar__tile--rangeBothEnds {
            border-radius: 15px;
        }

        .react-calendar__tile--rangeBothEnds:hover {
            border-radius: 15px;
        }

        .react-calendar__tile:hover {
            border-radius: 15px;
        }
    }
}
